#form-home {
    border: 2px solid #faf8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(21, 20, 20, 0.3);

}
#form-home h5 {
    text-align: center;
    color: #2D2D44;
    margin-right: 100px;
}
.row {
    width: 100%;
    padding: 10px;
}
